<div id="sidenav" class="sidenav" :class="{open: isActive}"  >

	<div style="height:50px">{{>_navicon}}</div>

	<br>

	


	<ul>
		<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
		<li><a href="/dashboard"><i class="fa fa-cog"></i>Dashboard</a></li>
		<li class="divider"></li>
		<li><a href="/media/add"><i class="fa fa-plus-circle"></i> Add to list</a></li>
		<li><a href="/media/index/1"><i class="fa fa-list"></i> View list</a></li>
		<li><a href="/media/archive/1"><i class="fa fa-archive"></i>Archive</a></li>
		<li><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
		
	</ul>


</div>