
<section>
	
	

	<div class="container">
	
		<h1>Welcome</h1>

		<p>This is the media list, keep track of media items you would like to watch read or listen to, so you don't forget. Archive Items you are finished with.</p>

		{{!-- <div class="row">

			<div class="col-six">hello</div>
			
			<div class="col-six">hello</div>
			


		</div> --}}

	</div>




</section>



